.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;

}

body {
    background-image: linear-gradient(#85FFBD, #FFFB7D);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.125rem;
}

a {
    color: white;
    text-decoration: none;
}

header {
    min-height: 100px;
    display: flex;
    align-items: center;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.364);
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.364);
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.364);
}

.card1, .card2, .card3 {
    padding: 30px 30px 25px 30px;
    box-sizing: border-box;
    text-align: center;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

.box1 {
    flex: 1;
    padding: 16px;
}

.box2 {
    flex: 3;
    text-align: right;
    padding-right: 50px;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.364);
}

h2 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}

.cards i {
    font-size: 100px;
}

.mybutton {
    background-color: white;
    color: chartreuse;
    font-family: 'Roboto', sans-serif;
    padding: 11px 25px;
    border-radius: 100px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.364);
    display: inline-block;
    margin-top: 10px;
}

