.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

body {
    background-image: linear-gradient(#85FFBD, #FFFB7D);
}

header {
    min-height: 100px;
    display: flex;
    align-items: center;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    background-color: rgb(137, 251, 163);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: rgb(238, 156, 200);
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-color: rgb(230, 188, 211);
    min-height: 300px;
    width: 30%; 
}

.card3 {
    background-color: rgb(227, 67, 152);
    min-height: 300px;
    width: 30%;
}

.herobox1 {
    flex: 2;
}

.herobox2 {
    flex: 1;
}

.box1 {
    flex: 1;
    padding: 16px;
}

.box2 {
    flex: 3;
    text-align: right;
    padding-right: 50px;
}

